
<!-- If the person is logged in show just the text box and points -->
<div class="page-header" ng-if="loggedIn">
	<div class="row">

		<div class="col-sm-2 col-sm-offset-1">
			<h3 class="col-sm-4 level"><small class="statsAlign">Rank:</small></h3>
			<h3 class="col-sm-4 level col-sm-offset-4">{{ rank }}</h3>
			<h3 class="col-sm-4 score"><small class="statsAlign">Score:</small></h3>
			<h3 class="col-sm-4 score col-sm-offset-4">{{ score }}</h3>
		</div>

		<div class="col-sm-6">

			<!-- Hello and welcome to the source code, I expected to see a few of you here I'm probably going to put a challenge in the site at some point too, maybe a password here -->

			<!-- Big Flag box -->
			<form ng-submit='getLevel()' >
				<input type="text" placeholder="flynn{EnT3r_y0uR_f1aG}" ng-model="$parent.tryPass" class="form-control">
			</form>


			<!-- Loading Blue -->
			<div class="progress blue" ng-if="pointsStatus == statusCodes['loading blue']">
				<div class="progress-bar progress-bar-striped progress-bar-info active" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" >
				</div>
			</div>

			<!-- Loading Green -->
			<div class="progress green" ng-if="pointsStatus == statusCodes['loading green']">
				<div class="progress-bar progress-bar-striped progress-bar-success active" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" >
				</div>
			</div>

			<!-- Loading Orange -->
			<div class="progress orange" ng-if="pointsStatus == statusCodes['loading orange']">
				<div class="progress-bar progress-bar-striped progress-bar-warning active" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" >
				</div>
			</div>

			<!-- Loading Red -->
			<div class="progress red" ng-if="pointsStatus == statusCodes['loading red']">
				<div class="progress-bar progress-bar-striped progress-bar-danger active" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" >
				</div>
			</div>

			<!-- Info box -->
			<div class="alert alert-success infoBox" role="alert" ng-if="pointsStatus == statusCodes['start hacking']">
				Start Hacking!
			</div>

			<!-- Already owned -->
			<div class="alert alert-success infoBox" role="alert" ng-if="pointsStatus == statusCodes['already owned']">
				You already got that flag, it's worth {{ potentialPoints }} points
			</div>

			<!-- punished for only doing a select few types -->
			<div class="alert alert-success infoBox" role="alert" ng-if="pointsStatus == statusCodes['correct minus']">
				That flag is worth {{ potentialPoints }} points but I'm only giving you {{ pointsEarned }}.
			</div>

			<!-- standard success -->
			<div class="alert alert-success infoBox" role="alert" ng-if="pointsStatus == statusCodes['correct']">
				Congratulations! That flag is worth {{ pointsEarned }} points
			</div>

			<!-- Bonus points for exploration -->
			<div class="alert alert-success infoBox" role="alert" ng-if="pointsStatus == statusCodes['correct plus']">
				That flag is worth {{ potentialPoints }} points, and I'm giving you {{ pointsEarned }}.
			</div>



			<!-- Wrong Flag box -->
			<div class="alert alert-warning infoBox" role="alert" ng-if="pointsStatus == statusCodes['incorrect']">
				I don't recgnise that flag <br><small>(if this is a mistake pls email j@jordanbrown.xyz)</small>
			</div>


			<!-- Wrong login details -->
			<div class="alert alert-danger infoBox" role="alert" ng-if="pointsStatus == statusCodes['wrong login']">
				Wrong Login Details
			</div>


		</div>

		<div class="col-sm-3 col-sm-offset-0">
			<h4 class="col-sm-12 level welcome">Welcome {{ welcomeName }}</h4>
			<div class="col-sm-2 col-sm-offset-1">
				<form ng-submit='logout()' >
					<button type="submit" class="btn btn-primary">Log Out</button>
				</form>
			</div>
		</div>


	</div>
</div>


<!-- if the user is yet to log in then let them enter passwords in to check but get no points -->
<div class="page-header" ng-if="!loggedIn">
	<div class="row">
		<div class="col-sm-4 col-sm-offset-2">

			<!-- input box -->
			<form ng-submit='showPoints()' >
				<input type="text" placeholder="flynn{EnT3r_y0uR_f1aG}" ng-model="$parent.tryPass" class="form-control">
			</form>

			<!-- Loading Blue -->
			<div class="progress blue" ng-if="pointsStatus == statusCodes['loading blue']">
				<div class="progress-bar progress-bar-striped progress-bar-info active" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" >
				</div>
			</div>

			<!-- Loading Green -->
			<div class="progress green" ng-if="pointsStatus == statusCodes['loading green']">
				<div class="progress-bar progress-bar-striped progress-bar-success active" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" >
				</div>
			</div>

			<!-- Loading Orange -->
			<div class="progress orange" ng-if="pointsStatus == statusCodes['loading orange']">
				<div class="progress-bar progress-bar-striped progress-bar-warning active" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" >
				</div>
			</div>

			<!-- Loading Red -->
			<div class="progress red" ng-if="pointsStatus == statusCodes['loading red']">
				<div class="progress-bar progress-bar-striped progress-bar-danger active" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" >
				</div>
			</div>


			<!-- Info box -->
			<div class="alert alert-info infoBox" role="alert" ng-if="pointsStatus == statusCodes['login']">
				Log in to start earning points
			</div>


			<!-- Correct Flag box -->
			<div class="alert alert-success infoBox" role="alert" ng-if="pointsStatus == statusCodes['no auth correct']">
				That flag is worth <strong>{{ noAuthPoints }} points</strong>.
				<small>(Sign in to save your progress)</small>
			</div>


			<!-- Wrong Flag box -->
			<div class="alert alert-warning infoBox" role="alert" ng-if="pointsStatus == statusCodes['no auth incorrect']">
				I don't recgnise that flag <br><small>Log in to add new flags</small>
			</div>


			<!-- Wrong login details -->
			<div class="alert alert-danger infoBox" role="alert" ng-if="pointsStatus == statusCodes['wrong login']">
				Wrong Login Details
			</div>


		</div>

		<div class="col-sm-4">
			<form class="form-horizontal" ng-submit='login()'>
				<div class="form-group">
					<!-- <label for="inputEmail3" class="col-sm-3 control-label">Username</label> -->
					<div class="col-sm-7">
						<input type="text" class="form-control" id="inputUsername" placeholder="Username" ng-model='$parent.username'>
					</div>
					<div class="col-sm-2">
						<!-- Button trigger modal -->
						<button type="button" class="btn btn-default" ng-click="open()">
							Sign up
						</button>
					</div>
				</div>
				
				<div class="form-group">
					<!-- <label for="inputPassword3" class="col-sm-3 control-label">Password</label> -->
					<div class="col-sm-7">
						<input type="password" class="form-control" id="inputPassword" placeholder="Password" ng-model='$parent.password'>
					</div>
					<div class="col-sm-2">
						<button type="submit" class="btn btn-primary">Log In</button>
					</div>
				</div>
			</form>
		</div>
	</div>
</div>


<!-- The following stuff shows up reguardless of login status -->

<!-- 		<pre class="ascii-logo"><small>

 ______  _                       _        	 _    _              ______                           
|  ___/ | |                     ( )       	| |  | |             | ___ \                          
| |__   | | _   _  _ __   _ __  |/  ___   	| |  | |  __ _  _ __ | |_/ /  ___    ___   _ __ ___   
|  __|  | || | | || '_ \ | '_ \    / __|  	| |/\| | / _` || '__||    /  / _ \  / _ \ | '_ ` _ \  
| |     | || |_| || | | || | | |   \__ \  	\  /\  /| (_| || |   | |\ \ | (_) || (_) || | | | | | 
|_|     |_| \__, ||_| |_||_| |_|   |___/  	 \/  \/  \__,_||_|   \_| \_| \___/  \___/ |_| |_| |_| 
            __/ |                        	                                                      
           |___/                         	                                                      
		</small></pre> -->


<pre class="ascii-logo"><strong>

██╗    ██╗   █████╗   ██████╗  		 ██████╗    ██████╗    ██████╗   ███╗   ███╗
██║    ██║  ██╔══██╗  ██╔══██╗ 		 ██╔══██╗  ██╔═══██╗  ██╔═══██╗  ████╗ ████║
██║ █╗ ██║  ███████║  ██████╔╝ 		 ██████╔╝  ██║   ██║  ██║   ██║  ██╔████╔██║
██║███╗██║  ██╔══██║  ██╔══██╗ 		 ██╔══██╗  ██║   ██║  ██║   ██║  ██║╚██╔╝██║
╚███╔███╔╝  ██║  ██║  ██║  ██║ 		 ██║  ██║  ╚██████╔╝  ╚██████╔╝  ██║ ╚═╝ ██║
 ╚══╝╚══╝   ╚═╝  ╚═╝  ╚═╝  ╚═╝ 		 ╚═╝  ╚═╝   ╚═════╝    ╚═════╝   ╚═╝     ╚═╝

</strong>                                                                             
  _                __   _                      
 | |__   _  _     / _| | |  _  _   _ _    _ _  
 | '_ \ | || |   |  _| | | | || | | ' \  | ' \ 
 |_.__/  \_, |   |_|   |_|  \_, | |_||_| |_||_|
         |__/               |__/               
</pre>




<div class="row">

	<!-- The actual leaderboard -->
	<div class="col-sm-6 col-sm-offset-1">
		<table class="table">
			<tr>Leaderboard</tr>
			<tr ng-repeat="user in leaderboard" ng-class="{'selected':$index == rank-1}">
				<td style="width:1%">{{ $index + 1 }}.</td>
				<td style="text-align:left;">{{ user.username }}</td>
				<td style="width:50%">{{ user.level }}</td>
				<td>{{ user.score }}</td>
			</tr>
		</table>
	</div>

	<!-- ThE AcCordion of chAlLengEs -->
	<div class="col-sm-4 col-sm-offset-1">
		<div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
			<div class="panel panel-default"  ng-repeat="game in challenges" >
				<div class="panel-heading" role="tab" ng-class="{'completed':game.solved}">
					<h4 class="panel-title">
						<a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse{{ game.name }}" aria-expanded="false" aria-controls="collapse{{ game.name }}" ng-click="$event.preventDefault();" >
							{{ game.name }}  ({{ game.points }})
						</a>
					</h4>
				</div>
				<div id="collapse{{ game.name }}" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
					<div class="panel-body" style="text-align: left">
						<strong>Type:</strong>{{ game.type }} <br>
						<strong>Description:</strong> {{ game.description }} <br>
						<a href="{{ game.link }}" ng-if="game.link">--&gtDownload&lt--</a> <br>
						<div ng-if="game.connection">
							<strong>Connection:</strong> {{ game.connection }}
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>



</div>


<br>
<br>
<br>
<br>


<div class="row">

	<div class="col-sm-3 col-sm-offset-1">
		<table class="table">
			<tr>UNSW Security Socitey</tr>


			<tr>
				<td>
					<a href="https://www.facebook.com/groups/dotsoc/?fref=ts">I need help hacking!</a>
				</td>
			</tr>

			<tr>
				<td>
					<a href="https://www.facebook.com/groups/dotsoc/?fref=ts">facebook</a>
				</td>
			</tr>

			<tr>
				<td>
					<a href="https://www.facebook.com/groups/dotsoc/?fref=ts">contact us</a>
				</td>
			</tr>

			<tr>
				<td>
					<a href="https://www.facebook.com/groups/dotsoc/?fref=ts">sponsorship</a>
				</td>
			</tr>
		</table>
	</div>

	<div class="col-sm-3 col-sm-offset-1">
		<table class="table">
		<tr>Major Wargames</tr>
			<tr ng-repeat="game in majorWargames">
				<td style="width:1%">{{ $index + 1 }}.</td>
				<td style="text-align:left;"><a href={{game.link}}>{{ game.name }}</a></td>
			</tr>
		</table>
	</div>

	<div class="col-sm-3 col-sm-offset-1">
		<table class="table">
			<tr>Other Wargames</tr>
			<tr ng-repeat="game in otherWargames">
				<td style="width:1%">{{ $index + 1 }}.</td>
				<td style="text-align:left;"><a href={{game.link}}>{{ game.name }}</a></td>
			</tr>
		</table>
	</div>

</div>







<!-- 




		<table class="table">
			<tr>Current Challenges</tr>
			<tr ng-repeat="game in challenges">
				<td style="width:1%">{{ $index + 1 }}.</td>
				<td style="text-align:left;">{{ game.name }}</td>
				<td><a href={{ game.link }}>Download Binary</td>
				<td>{{ game.type }}</td>
				<td>({{ game.points }})</td>
			</tr>
		</table>
 -->




		


